
.button-container {
  position: relative;
  text-align: center;
}

.button {
  padding: 5pt;
  display: block;
  flex: 1;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -78%);
}
